* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
body {
  color: #fff;
  margin: 0;
  position: relative;
  font: 26px 'Proxima Nova', Arial, Helvetica, sans-serif;
  background-color: #011bbe;
  background-image: url('../assets/images/balls.png');
  background-position: 0 0;
  animation: balls 60s linear infinite;
  -webkit-animation: balls 60s linear infinite;
}

@keyframes balls {
  from { background-position: 100% 1000px;}
  to { background-position: 100% -190px; }
}
@-webkit-keyframes balls {
  from { background-position: 100% 1000px;}
  to { background-position: 100% -190px; }
}

h1, .processing  {
  font-weight: bold;
  font-size: 62px;
  text-align: left;
  color: #fff;
  text-align: center;
  margin: 0 0 50px;
}
.processing {
  font-size: 56px;
  margin-bottom: 5px;
}

.link {
  color: #fff;
}

input, textarea {
  outline: none;
  font: 26px 'Proxima Nova', Arial, Helvetica, sans-serif;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

/*--- Clearfix : start ---------------*/
.cl:before,
.cl:after {
  content: " ";
  display: table;
}
.cl:after {
  clear: both;
}
/*--- Clearfix : end ---------------*/

.easing, .easing * {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.logo {
  width: 140px;
  height: 35px;
  display: inline-block;
  /* PNG или SVG */
  background: url(../assets/images/logo.png) no-repeat;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 35px;
  left: 60px;
}

.root {
  width: 100%;
  height: 100%;
  min-width: 930px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
.container {
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
  position: relative;
  margin-top: 25%;
  text-align: center;
}

.fild {
  width: 100%;
  max-width: 600px;
  height: 72px;
  line-height: 72px;
  border-radius: 33px;
  background-color: #f950de;
  box-shadow: 17px 20px 0 0 #031792;
  border: 0;
  box-sizing: border-box;
  padding: 0 75px;
  color: #fff;
  font-size: 46px;
  margin: 0 auto 25px;
  display: block;
}
.fild.big {
  max-width: 100%;
}
.fild::-webkit-input-placeholder { color: #fff; }
.fild::-moz-placeholder          { color: #fff; } /* Firefox 19+ */
.fild:-moz-placeholder           { color: #fff; } /* Firefox 18- */
.fild:-ms-input-placeholder      { color: #fff; }


.info {
  display: block;
  margin-bottom: 30px;
}



/* BUTTON : start */
/* Пример использования:
<div class="button-wrap left">
  <button class="blue">кнопка</button>
  <button class="blue" disabled>кнопка</button>
</div>
Кнопки: виды
1) blue // Голубая кнопка
Кнопки: расположения ( .button-wrap.left )
1) .mt30 Отступ сверху ( margin-top:30; )
2) .left // Прижаты к левому краю
3) .right // Прижаты к правому краю
4) .center // По центру
5) .justify // Прижаты по краям, остальные распологаются по равным отступам
6) .around // Распологаются по всей площади, но с отступами от краев.
 */
.button-wrap { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center;}
.button-wrap.left { justify-content: flex-start; }
.button-wrap.left button { margin-right: 20px; }
.button-wrap.right { justify-content: flex-end; }
.button-wrap.right button { margin-left: 20px; }
.button-wrap.center { justify-content: center; }
.button-wrap.center button { margin: 0 10px; }
.button-wrap.justify { justify-content: space-between; }
.button-wrap.around { justify-content: space-around; }
.button-wrap button.blue,
.button-wrap a.blue {
  display: inline-block;
  min-width: 430px;
  padding: 25px 35px;
  border-radius: 100px;
  background-color: #51e6fa;
  box-shadow: 17px 20px 0 0 #031792;
  font-size: 34px;
  text-align: left;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  border: 0;
}
.button-wrap button.blue:disabled,
.button-wrap a.blue:disabled {
  color:#fff;
  background-color: #D3D3D3;
  cursor: auto;
}
.button-wrap .text {
  display: inline-block;
  margin: 0 15px;
  font-size: 36px;
}
/* BUTTON : end */



.preloader {
  display: inline-block;
  margin: 0 auto;
  font-size: 40px;
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-width: 630px;
}
.preloader .item {
  margin: 0 3px;
}

.preloader.ani_1 .item{
  -webkit-animation-name: smail;
  -moz-animation-name: smail;
  -ms-animation-name: smail;
  animation-name: smail;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}
.preloader.ani_2 .item {
  -webkit-animation-name: smail;
  -moz-animation-name: smail;
  -ms-animation-name: smail;
  animation-name: smail;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  -ms-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.preloader .item:nth-child(1){ animation-delay: 0s;}
.preloader .item:nth-child(2){ animation-delay: 1s;}
.preloader .item:nth-child(3){ animation-delay: 2s;}
.preloader .item:nth-child(4){ animation-delay: 3s;}
.preloader .item:nth-child(5){ animation-delay: 4s;}
.preloader .item:nth-child(6){ animation-delay: 5s;}
.preloader .item:nth-child(7){ animation-delay: 6s;}
.preloader .item:nth-child(8){ animation-delay: 7s;}
.preloader .item:nth-child(9){ animation-delay: 8s;}
.preloader .item:nth-child(10){ animation-delay: 9s;}
.preloader .item:nth-child(11){ animation-delay: 10s;}
.preloader .item:nth-child(12){ animation-delay: 11s;}

@-o-keyframes smail {
  0% { font-size: 40px;}
  50% { font-size: 60px;}
  100% { font-size: 40px;}
}
@-moz-keyframes smail {
  0% { font-size: 40px;}
  50% { font-size: 60px;}
  100% { font-size: 40px;}
}
@-webkit-keyframes smail {
  0% { font-size: 40px;}
  50% { font-size: 60px;}
  100% { font-size: 40px;}
}
@keyframes smail {
  0% { font-size: 40px;}
  50% { font-size: 60px;}
  100% { font-size: 40px;}
}



